/.DS_Store
ConsoleTester/bin/Debug/net5.0/ConsoleTester.dll
ConsoleTester/bin/Debug/net5.0/ConsoleTester.pdb
ConsoleTester/bin/Debug/net5.0/Scrambler.dll
ConsoleTester/bin/Debug/net5.0/Scrambler.pdb
ConsoleTester/bin/Debug/net5.0/ref/ConsoleTester.dll
ConsoleTester/obj/Debug/net5.0/ConsoleTester.csprojAssemblyReference.cache
ConsoleTester/obj/Debug/net5.0/ConsoleTester.dll
ConsoleTester/obj/Debug/net5.0/ConsoleTester.pdb
ConsoleTester/obj/Debug/net5.0/ref/ConsoleTester.dll
src/bin/Debug/net5.0/Scrambler.dll
src/bin/Debug/net5.0/Scrambler.pdb
src/bin/Debug/net5.0/ref/Scrambler.dll
src/obj/Debug/net5.0/Scrambler.csproj.CoreCompileInputs.cache
src/obj/Debug/net5.0/Scrambler.csprojAssemblyReference.cache
src/obj/Debug/net5.0/Scrambler.dll
src/obj/Debug/net5.0/Scrambler.pdb
src/obj/Debug/net5.0/ref/Scrambler.dll
